Node-RED/flows/IoTAssetTracker-LoadBlockchainTransactionHistory.json
[
    {
        "id": "bc8d2e6e.a0fa7",
        "type": "tab",
        "label": "Load Blockchain",
        "disabled": false,
        "info": ""
    },
    {
        "id": "df327f35.0d2ea",
        "type": "inject",
        "z": "bc8d2e6e.a0fa7",
        "name": "Reset Database load",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "82389d5.4f8aee"
            ]
        ]
    },
    {
        "id": "82389d5.4f8aee",
        "type": "change",
        "z": "bc8d2e6e.a0fa7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "db-loaded",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "BlockchainLoaded",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "HyperLedgerFabricIP",
                "pt": "global",
                "to": "<your Hyperledger Fabric IP address here>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bdd25a1d.eb22e8",
        "type": "comment",
        "z": "bc8d2e6e.a0fa7",
        "name": "Re-Read the Asset Database into Tracking Array",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "d0bfabe5.ea5148",
        "type": "debug",
        "z": "bc8d2e6e.a0fa7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "660c0cde.ad700c",
        "type": "change",
        "z": "bc8d2e6e.a0fa7",
        "name": "Save DB",
        "rules": [
            {
                "t": "set",
                "p": "AssetHistory",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "db-loaded",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "BlockchainLoaded",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 600,
        "wires": [
            [
                "d0bfabe5.ea5148"
            ]
        ]
    },
    {
        "id": "98619ac8.34d468",
        "type": "link in",
        "z": "bc8d2e6e.a0fa7",
        "name": "Load Tables from Blockchain",
        "links": [
            "318a7a4d.b952de",
            "3bef538e.a8fae4"
        ],
        "x": 115,
        "y": 160,
        "wires": [
            [
                "1df0ff39.d2d099"
            ]
        ]
    },
    {
        "id": "23ebe989.94df7e",
        "type": "comment",
        "z": "bc8d2e6e.a0fa7",
        "name": "Read the Blockchain Temperature / GPS transactions into a array",
        "info": "",
        "x": 260,
        "y": 220,
        "wires": []
    },
    {
        "id": "7126feb9.3a508",
        "type": "comment",
        "z": "bc8d2e6e.a0fa7",
        "name": "Read the Blockchain Acceleration / GPS transactions into a array",
        "info": "",
        "x": 250,
        "y": 460,
        "wires": []
    },
    {
        "id": "904576d.7341708",
        "type": "function",
        "z": "bc8d2e6e.a0fa7",
        "name": "Merge Asset Tracker Environmental Data",
        "func": "// Here we concantentate the temperature \n// and accelerometer environmental data \n// into a single array for map display purposes. \n\n// Potentially some overlap on GPS coordinates\n// if the Particle Electron Asset Tracker triggered\n// both events simultaneously.\n// At worst, the Dashboard map won't move for one sec.\n\nvar TemperatureAccelArray = flow.get(\"TemperatureData\");\n\n// There is likely to be fewer Accelerometer events (now loaded in msg.payload)\n// Let's merge msg.payload into TemperatureArray\n// There is a timestamp sort function later in the flow so \n// the array order doesn't really matter\nfor( i=0; i < msg.payload.length; i++ ) {\n\n    // We want the table to contain this info:\n    //  { \"AssetID\":\"2320022000251363131363432\",\n    //    \"gps\":{\"lat\":\"40.7307068\",\"lon\":\"-74.00583569999999\"},\n    //    \"timestamp\":1518116923270,\n    //    \"accel\":{\"acc_x\":4000,\"acc_y\":5000,\"acc_z\":6000}}\n    //\n    \n    // The Blockchain AccelReading transaction list has this info\n    // {\"$class\":\"org.acme.shipping.perishable.AccelReading\",\n    //  \"accel_x\":-560,\"accel_y\":2128,\"accel_z\":14496,\n    //  \"celsius\": 22.625\n    //  \"latitude\":\"40.983727\",\"longitude\":\"-74.113869\",\n    //  \"readingTime\":\"2018-02-14T22:45:45.930Z\",\n    //  \"shipment\":\"resource:org.acme.shipping.perishable.Shipment#320022000251363131363432\",\n    //  \"transactionId\":\"5266128649153dd04cc6b5a2e9cd7e2c9f04cae3c746c2de4bee8a4ad36f6aad\",\n    //  \"timestamp\":\"2018-02-14T22:45:45.970Z\"}\n\n    // Refactor / Add the Blockchain AccelReading data into the Temperature Array\n    var transaction = {};\n    var AssetID;\n    var msec = Date.parse(msg.payload[i].readingTime);\n    AssetID = msg.payload[i].shipment.split(\"#\");\n    transaction = { \"AssetID\":AssetID[1],\n                    \"gps\":{\"lat\":msg.payload[i].latitude,\"lon\":msg.payload[i].longitude},\n                    \"timestamp\"  :msec,\n                    \"accel\":{\"acc_x\":msg.payload[i].accel_x,\"acc_y\":msg.payload[i].accel_y,\"acc_z\":msg.payload[i].accel_z}\n    };\n    TemperatureAccelArray.push(transaction);\n}\n\nmsg.payload = TemperatureAccelArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 600,
        "wires": [
            [
                "660c0cde.ad700c"
            ]
        ]
    },
    {
        "id": "6eebda72.bf0ff4",
        "type": "inject",
        "z": "bc8d2e6e.a0fa7",
        "name": "Query Temp Transactions",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 155,
        "y": 265,
        "wires": [
            [
                "c02a4c18.b7786"
            ]
        ]
    },
    {
        "id": "ed9232d.fa535d",
        "type": "http request",
        "z": "bc8d2e6e.a0fa7",
        "name": "Blockchain GET TemperatureReading",
        "method": "GET",
        "ret": "obj",
        "url": "http://{{FabricIP}}:31090/api/TemperatureReading",
        "tls": "",
        "x": 690,
        "y": 265,
        "wires": [
            [
                "f9063794.9695b8",
                "5d1507ba.643f5"
            ]
        ]
    },
    {
        "id": "5d1507ba.643f5",
        "type": "function",
        "z": "bc8d2e6e.a0fa7",
        "name": "Store Blockchain data into a new array",
        "func": "// We want the table to contain this info:\n//  { \"AssetID\":\"2320022000251363131363432\",\n//    \"gps\":{\"lat\":\"40.7307068\",\"lon\":\"-74.00583569999999\"},\n//    \"timestamp\":1518116923270,\n//    \"temperature\":4}\n//\n\n// The Blockchain has this info\n// {\"$class\":\"org.acme.shipping.perishable.AccelReading\",\n//  \"Accel_x\":-560,\"accel_y\":2128,\"accel_z\":14496,\n//  \"celsius\": 22.625\n//  \"latitude\":\"40.983727\",\"longitude\":\"-74.113869\",\n//  \"readingTime\":\"2018-02-14T22:45:45.930Z\",\n//  \"shipment\":\"resource:org.acme.shipping.perishable.Shipment#320022000251363131363432\",\n//  \"transactionId\":\"5266128649153dd04cc6b5a2e9cd7e2c9f04cae3c746c2de4bee8a4ad36f6aad\",\n//  \"timestamp\":\"2018-02-14T22:45:45.970Z\"}\n\n// Refactor the Blockchain data into a new array\nvar TrackerArray = [];\nvar transaction = {};\nvar AssetID;\nfor(i=0 ; i < msg.payload.length ;i++) {\n    var msec = Date.parse(msg.payload[i].readingTime);\n    AssetID = msg.payload[i].shipment.split(\"#\");\n    transaction = { \"AssetID\":AssetID[1],\n                    \"gps\":{\"lat\":msg.payload[i].latitude,\"lon\":msg.payload[i].longitude},\n                    \"timestamp\"  :msec,\n                    \"temperature\":msg.payload[i].celsius\n    };\n    TrackerArray.push(transaction);\n}\nflow.set(\"TemperatureData\", TrackerArray);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 285,
        "y": 375,
        "wires": [
            [
                "842db917.95c1c8"
            ]
        ]
    },
    {
        "id": "f9063794.9695b8",
        "type": "debug",
        "z": "bc8d2e6e.a0fa7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 965,
        "y": 265,
        "wires": []
    },
    {
        "id": "af7b48d8.275088",
        "type": "inject",
        "z": "bc8d2e6e.a0fa7",
        "name": "Query Accel Transactions",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "842db917.95c1c8"
            ]
        ]
    },
    {
        "id": "cd6203b2.69695",
        "type": "http request",
        "z": "bc8d2e6e.a0fa7",
        "name": "Blockchain GET AccelReading",
        "method": "GET",
        "ret": "obj",
        "url": "http://{{FabricIP}}:31090/api/AccelReading",
        "tls": "",
        "x": 670,
        "y": 500,
        "wires": [
            [
                "91398161.09b3a8",
                "904576d.7341708",
                "b1eee69f.378f28"
            ]
        ]
    },
    {
        "id": "91398161.09b3a8",
        "type": "debug",
        "z": "bc8d2e6e.a0fa7",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 960,
        "y": 500,
        "wires": []
    },
    {
        "id": "1f67ceac.645679",
        "type": "change",
        "z": "bc8d2e6e.a0fa7",
        "name": "Pause while loading BlockChain Transactions",
        "rules": [
            {
                "t": "set",
                "p": "BlockchainLoaded",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 160,
        "wires": [
            [
                "c02a4c18.b7786"
            ]
        ]
    },
    {
        "id": "1df0ff39.d2d099",
        "type": "switch",
        "z": "bc8d2e6e.a0fa7",
        "name": "BlockChain Loaded yet?",
        "property": "BlockchainLoaded",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 160,
        "wires": [
            [
                "1f67ceac.645679"
            ]
        ]
    },
    {
        "id": "b1eee69f.378f28",
        "type": "change",
        "z": "bc8d2e6e.a0fa7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "vibrations",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 465,
        "wires": [
            []
        ]
    },
    {
        "id": "c02a4c18.b7786",
        "type": "change",
        "z": "bc8d2e6e.a0fa7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "FabricIP",
                "pt": "msg",
                "to": "HyperLedgerFabricIP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 405,
        "y": 265,
        "wires": [
            [
                "ed9232d.fa535d"
            ]
        ]
    },
    {
        "id": "842db917.95c1c8",
        "type": "change",
        "z": "bc8d2e6e.a0fa7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "FabricIP",
                "pt": "msg",
                "to": "HyperLedgerFabricIP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 500,
        "wires": [
            [
                "cd6203b2.69695"
            ]
        ]
    }
]
