Node-RED/flows/IoTAssetTracker-BlockchainRESTAPI.json
[
    {
        "id": "5e11e736.5672e",
        "type": "tab",
        "label": "Blockchain REST API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c1424e9d.e9923",
        "type": "debug",
        "z": "5e11e736.5672e",
        "name": "Blockchain Asset response",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1040,
        "y": 100,
        "wires": []
    },
    {
        "id": "96e93daf.7f1ab",
        "type": "function",
        "z": "5e11e736.5672e",
        "name": "Begin Truck Demo",
        "func": "var FabricIP=global.get(\"HyperLedgerFabricIP\");\nvar ParticleElectron=\"320022000251363131363432\";\n//flow.get(\"ParticleElectron\");\nvar ShipmentId = ParticleElectron;\n\n\nmsg.payload = {\n    \"$class\":\"org.acme.shipping.perishable.SetupDemo\"\n};\n\nmsg.url=\"http://\"+FabricIP+\":31090/api/SetupDemo\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "43571895.f2af28",
                "5453caaf.c7c4fc"
            ]
        ]
    },
    {
        "id": "43571895.f2af28",
        "type": "debug",
        "z": "5e11e736.5672e",
        "name": "Particle Electron Asset Tracker",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "5453caaf.c7c4fc",
        "type": "http request",
        "z": "5e11e736.5672e",
        "name": "hyperledger - Create Persishable Demo",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 740,
        "y": 100,
        "wires": [
            [
                "c1424e9d.e9923"
            ]
        ]
    },
    {
        "id": "4b937898.66c37",
        "type": "inject",
        "z": "5e11e736.5672e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 135,
        "y": 105,
        "wires": [
            [
                "bd2dc935.cb3cf"
            ]
        ]
    },
    {
        "id": "4ec21d2d.2cc19c",
        "type": "comment",
        "z": "5e11e736.5672e",
        "name": "One Time Setup to create the Blockchain Demo",
        "info": "",
        "x": 335,
        "y": 55,
        "wires": []
    },
    {
        "id": "584317aa.e2b918",
        "type": "comment",
        "z": "5e11e736.5672e",
        "name": "Create a TemperatureReading Transaction",
        "info": "",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "debfbf57.7ff8d",
        "type": "inject",
        "z": "5e11e736.5672e",
        "name": "Sample Temp Data",
        "topic": "",
        "payload": "{\"AssetID\":\"320022000251363131363432\",\"Temperature\":{\"Celsius\":22.625,\"Fahrenheit\":72.724998},\"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\"timestamp\":\"2018-02-14T15:06:41.178Z\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "73248645.0baa38"
            ]
        ]
    },
    {
        "id": "73248645.0baa38",
        "type": "function",
        "z": "5e11e736.5672e",
        "name": "Build a TemperatureReading Transaction",
        "func": "// A TemperatureReading Blockchain transaction looks like this:\n//      {\n//      \"$class\": \"org.acme.shipping.perishable.TemperatureReading\",\n//      \"celsius\": 0,\n//      \"latitude\": \"string\",\n//      \"longitude\": \"string\",\n//      \"readingTime\": \"string\",\n//      \"shipment\": \"resource:org.acme.shipping.perishable.Shipment#NNNN\"\n//      }\nvar FabricIP=global.get(\"HyperLedgerFabricIP\");\n\n// This function will be passed a msg.payload from the Particle Electron\n// AssetTrackerTemperatureEvent  looks like this:\n//   {\"AssetID\":\"320022000251363131363432\",\n//    \"Temperature\":{\"Celsius\":22.625,\"Fahrenheit\":72.724998},\n//    \"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\n//    \"timestamp\":\"2018-02-14T15:06:41.178Z\"}\n\nmsg.payload = {\n  \"$class\"     : \"org.acme.shipping.perishable.TemperatureReading\",\n  \"celsius\"    : msg.payload.Temperature.Celsius,\n  \"readingTime\": msg.payload.timestamp,\n  \"latitude\"   : msg.payload.gps.lat.toString(),\n  \"longitude\"  : msg.payload.gps.lon.toString(),\n  \"shipment\"   : \"resource:org.acme.shipping.perishable.Shipment#\"+msg.payload.AssetID\n};\nTempReadingMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://\"+FabricIP+\":31090/api/TemperatureReading?data=\"+TempReadingMsg;\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Accept\":\"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 495,
        "y": 260,
        "wires": [
            [
                "67e6c7c0.3b7be",
                "fa963268.4a59d"
            ]
        ]
    },
    {
        "id": "fa963268.4a59d",
        "type": "http request",
        "z": "5e11e736.5672e",
        "name": "Blockchain POST TemperatureReading",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 840,
        "y": 260,
        "wires": [
            [
                "b946b867.8c2eb8"
            ]
        ]
    },
    {
        "id": "67e6c7c0.3b7be",
        "type": "debug",
        "z": "5e11e736.5672e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "b946b867.8c2eb8",
        "type": "debug",
        "z": "5e11e736.5672e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1100,
        "y": 260,
        "wires": []
    },
    {
        "id": "aeff92d6.6e51d8",
        "type": "comment",
        "z": "5e11e736.5672e",
        "name": "Create a AccelReading Transaction",
        "info": "",
        "x": 310,
        "y": 500,
        "wires": []
    },
    {
        "id": "c4685c4d.9e43",
        "type": "inject",
        "z": "5e11e736.5672e",
        "name": "Sample Accel Data",
        "topic": "",
        "payload": "{\"AssetID\":\"320022000251363131363432\",\"Accel\":{\"x\":23264,\"y\":-20960,\"z\":-2448},\"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\"timestamp\":\"2018-02-14T15:16:44.284Z\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 210,
        "y": 580,
        "wires": [
            [
                "a2e6555e.5e7"
            ]
        ]
    },
    {
        "id": "a2e6555e.5e7",
        "type": "function",
        "z": "5e11e736.5672e",
        "name": "Build a AccelReading Transaction",
        "func": "// A AccelReading Blockchain transaction looks like this:\n//   {\n//   \"$class\": \"org.acme.shipping.perishable.AccelReading\",\n//   \"accel_x\": 0,\n//   \"accel_y\": 0,\n//   \"accel_z\": 0,\n//   \"latitude\": \"string\",\n//   \"longitude\": \"string\",\n//   \"readingTime\": \"string\",\n//   \"shipment\": \"resource:org.acme.shipping.perishable.Shipment#NNNN\"\n//   }\n\n// This function will be passed a msg.payload from the Particle Electron\n// AssetTrackerAccelerationEvent  looks like this:\n// Example:\n//   {\"AssetID\":\"320022000251363131363432\",\n//    \"Accel\":{\"x\":23264,\"y\":-20960,\"z\":-2448},\n//    \"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\n//    \"timestamp\":\"2018-02-14T15:16:44.284Z\"}\n\nvar ParticleElectron=flow.get(\"ParticleElectron\");\nvar FabricIP=global.get(\"HyperLedgerFabricIP\");\nvar ShipmentId = ParticleElectron;\n\nmsg.payload = {\n    \"$class\"     : \"org.acme.shipping.perishable.AccelReading\",\n    \"accel_x\"    : msg.payload.Accel.x,\n    \"accel_y\"    : msg.payload.Accel.y,\n    \"accel_z\"    : msg.payload.Accel.z,\n    \"readingTime\": msg.payload.timestamp,\n    \"latitude\"   : msg.payload.gps.lat.toString(),\n    \"longitude\"  : msg.payload.gps.lon.toString(),\n    \"shipment\"   : \"resource:org.acme.shipping.perishable.Shipment#\"+msg.payload.AssetID\n};\nAccelReadingMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://\"+FabricIP+\":31090/api/AccelReading?data=\"+AccelReadingMsg;\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Accept\":\"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 540,
        "wires": [
            [
                "a502b4b1.f9b898",
                "f743589c.73ae68"
            ]
        ]
    },
    {
        "id": "f743589c.73ae68",
        "type": "http request",
        "z": "5e11e736.5672e",
        "name": "Blockchain POST AccelReading",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 815,
        "y": 540,
        "wires": [
            [
                "ffb346ae.85fdf8"
            ]
        ]
    },
    {
        "id": "a502b4b1.f9b898",
        "type": "debug",
        "z": "5e11e736.5672e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 755,
        "y": 500,
        "wires": []
    },
    {
        "id": "ffb346ae.85fdf8",
        "type": "debug",
        "z": "5e11e736.5672e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1100,
        "y": 540,
        "wires": []
    },
    {
        "id": "fe2c3b2c.53641",
        "type": "comment",
        "z": "5e11e736.5672e",
        "name": "Create a GpsReading Transaction - Not used",
        "info": "",
        "x": 330,
        "y": 780,
        "wires": []
    },
    {
        "id": "a5b36465.b8c6a8",
        "type": "inject",
        "z": "5e11e736.5672e",
        "name": "Sample GPS Data",
        "topic": "",
        "payload": "{\"AssetID\":\"320022000251363131363432\",\"Temperature\":{\"Celsius\":22.625,\"Fahrenheit\":72.724998},\"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\"timestamp\":\"2018-02-14T15:06:41.178Z\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 210,
        "y": 860,
        "wires": [
            [
                "41c2ad12.d9734c"
            ]
        ]
    },
    {
        "id": "41c2ad12.d9734c",
        "type": "function",
        "z": "5e11e736.5672e",
        "name": "Build a GpsReading Transaction",
        "func": "// A GpsReading transaction looks like this:\n//   {\n//   \"$class\": \"org.acme.shipping.perishable.GpsReading\",\n//   \"readingTime\": \"\",\n//   \"readingDate\": \"\",\n//   \"latitude\": \"\",\n//   \"latitudeDir\": \"N\",\n//   \"longitude\": \"\",\n//   \"longitudeDir\": \"N\",\n//   \"shipment\": \"resource:org.acme.shipping.perishable.Shipment#NNNN\"\n//    }\n\n// This function will be passed a msg.payload from the Particle Electron\n// AssetTrackerTemperatureEvent or AssetTrackerAccelerationEvent\n// The msg.payload will look like this:\n//   {\"AssetID\":\"320022000251363131363432\",\n//    \"Temperature\":{\"Celsius\":22.625,\"Fahrenheit\":72.724998},\n//    \"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\n//    \"timestamp\":\"2018-02-14T15:06:41.178Z\"}\n//\n//   {\"AssetID\":\"320022000251363131363432\",\n//    \"Accel\":{\"x\":23264,\"y\":-20960,\"z\":-2448},\n//    \"gps\":{\"lat\":40.972904,\"lon\":-74.092216,\"accuracy\":0},\n//    \"timestamp\":\"2018-02-14T15:16:44.284Z\"}\n\n// I don't know why the Perishable Model splits the readingTime and readingDate. \n// That's useless, just store the timestamp (which I preserve in readingTime, \n// The model validation won't allow a blank readingDate so I construct the properly formatted date here\nvar msec = Date.parse(msg.payload.timestamp);\nvar d = new Date(msec);\nvar ReadingDate = d.getFullYear() + \"-\" + ('0' + (d.getMonth()+1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2);\nvar FabricIP=global.get(\"HyperLedgerFabricIP\");\n\nmsg.payload = {\n  \"$class\": \"org.acme.shipping.perishable.GpsReading\",\n  \"readingTime\": msg.payload.timestamp,\n  \"readingDate\": ReadingDate,\n  \"latitude\": msg.payload.gps.lat.toString(),\n  \"latitudeDir\": \"N\",\n  \"longitude\": msg.payload.gps.lon.toString(),\n  \"longitudeDir\": \"N\",\n  \"shipment\": \"resource:org.acme.shipping.perishable.Shipment#\"+msg.payload.AssetID\n};\nGpsReadingMsg = JSON.stringify(msg.payload);\n\nmsg.url = \"http://\"+FabricIP+\":31090/api/GpsReading?data=\"+GpsReadingMsg;\nmsg.headers = {\n    \"Content-Type\":\"application/json\",\n    \"Accept\":\"application/json\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 820,
        "wires": [
            [
                "90e5c278.63f818",
                "6a46fe3d.ad24"
            ]
        ]
    },
    {
        "id": "6a46fe3d.ad24",
        "type": "http request",
        "z": "5e11e736.5672e",
        "name": "Blockchain POST GpsReading",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 815,
        "y": 820,
        "wires": [
            [
                "46ca2f88.f3fc4"
            ]
        ]
    },
    {
        "id": "90e5c278.63f818",
        "type": "debug",
        "z": "5e11e736.5672e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 755,
        "y": 780,
        "wires": []
    },
    {
        "id": "46ca2f88.f3fc4",
        "type": "debug",
        "z": "5e11e736.5672e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1100,
        "y": 820,
        "wires": []
    },
    {
        "id": "72463b9c.c06064",
        "type": "link in",
        "z": "5e11e736.5672e",
        "name": "New TempeatureReading",
        "links": [
            "328eae91.ddbdca",
            "b15c717d.75c89",
            "724c42c6.6475d4",
            "43c6eed4.fce798"
        ],
        "x": 185,
        "y": 260,
        "wires": [
            [
                "73248645.0baa38"
            ]
        ]
    },
    {
        "id": "68e1c93f.be9338",
        "type": "link in",
        "z": "5e11e736.5672e",
        "name": "New AccelReading",
        "links": [
            "eb81c490.807ae8",
            "5c47d0e0.70889",
            "67e5758e.cc2024",
            "38b30653.ba168a"
        ],
        "x": 185,
        "y": 540,
        "wires": [
            [
                "a2e6555e.5e7"
            ]
        ]
    },
    {
        "id": "a99c01ca.4f3bd8",
        "type": "link in",
        "z": "5e11e736.5672e",
        "name": "New GPS Reading",
        "links": [
            "6547d49d.d5662c",
            "ae371ce3.1d6f18"
        ],
        "x": 185,
        "y": 820,
        "wires": [
            [
                "41c2ad12.d9734c"
            ]
        ]
    },
    {
        "id": "e04c3057.1e79",
        "type": "comment",
        "z": "5e11e736.5672e",
        "name": "Query the list of TemperatureReading Transactions",
        "info": "",
        "x": 350,
        "y": 340,
        "wires": []
    },
    {
        "id": "11ad94f3.52b563",
        "type": "inject",
        "z": "5e11e736.5672e",
        "name": "Query Temp Transactions",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 420,
        "wires": [
            [
                "31bac253.7b711e"
            ]
        ]
    },
    {
        "id": "cf0c14eb.275fb8",
        "type": "debug",
        "z": "5e11e736.5672e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "5ab16a1f.d8ab54",
        "type": "comment",
        "z": "5e11e736.5672e",
        "name": "Query the list of AccelReading Transactions",
        "info": "",
        "x": 330,
        "y": 620,
        "wires": []
    },
    {
        "id": "1204c9c0.21fbd6",
        "type": "inject",
        "z": "5e11e736.5672e",
        "name": "Query Accel Transactions",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 700,
        "wires": [
            [
                "cf2d0627.886f58"
            ]
        ]
    },
    {
        "id": "5413a978.fa375",
        "type": "debug",
        "z": "5e11e736.5672e",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1100,
        "y": 660,
        "wires": []
    },
    {
        "id": "a39f3672.fb63b",
        "type": "link in",
        "z": "5e11e736.5672e",
        "name": "Query Blockchain Temp Transactions",
        "links": [
            "2fd969a1.7b1516"
        ],
        "x": 185,
        "y": 380,
        "wires": [
            [
                "31bac253.7b711e"
            ]
        ]
    },
    {
        "id": "ff65d12.913413",
        "type": "link out",
        "z": "5e11e736.5672e",
        "name": "Return Blockchain Transactions",
        "links": [
            "b6d918be.ae353"
        ],
        "x": 1185,
        "y": 420,
        "wires": []
    },
    {
        "id": "af480cff.10c32",
        "type": "link in",
        "z": "5e11e736.5672e",
        "name": "Query Blockchain Accel Transactions",
        "links": [
            "f995dcaa.13004"
        ],
        "x": 185,
        "y": 660,
        "wires": [
            [
                "cf2d0627.886f58"
            ]
        ]
    },
    {
        "id": "fa8265f2.ef272",
        "type": "function",
        "z": "5e11e736.5672e",
        "name": "Refactor",
        "func": "// We want the table to contain this info:\n//  { \"AssetID\":\"2320022000251363131363432\",\n//    \"gps\":{\"lat\":\"40.7307068\",\"lon\":\"-74.00583569999999\"},\n//    \"timestamp\":1518116923270,\n//    \"temperature\":4}\n//\n\n// The Blockchain has this info\n// {\"$class\":\"org.acme.shipping.perishable.AccelReading\",\n//  \"Accel_x\":-560,\"accel_y\":2128,\"accel_z\":14496,\n//  \"celsius\": 22.625\n//  \"latitude\":\"40.983727\",\"longitude\":\"-74.113869\",\n//  \"readingTime\":\"2018-02-14T22:45:45.930Z\",\n//  \"shipment\":\"resource:org.acme.shipping.perishable.Shipment#320022000251363131363432\",\n//  \"transactionId\":\"5266128649153dd04cc6b5a2e9cd7e2c9f04cae3c746c2de4bee8a4ad36f6aad\",\n//  \"timestamp\":\"2018-02-14T22:45:45.970Z\"}\n\n// Refactor the Blockchain data into a Array\nvar TrackerArray = [];\nvar transaction = {};\nvar AssetID;\nfor(i=0 ; i < msg.payload.length ;i++) {\n    var msec = Date.parse(msg.payload[i].readingTime);\n    AssetID = msg.payload[i].shipment.split(\"#\");\n    transaction = { \"AssetID\":AssetID[1],\n                    \"gps\":{\"lat\":msg.payload[i].latitude,\"lon\":msg.payload[i].longitude},\n                    \"timestamp\"  :msec,\n                    \"temperature\":msg.payload[i].celsius\n    };\n    TrackerArray.push(transaction);\n}\nmsg.payload = TrackerArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1090,
        "y": 420,
        "wires": [
            [
                "ff65d12.913413"
            ]
        ]
    },
    {
        "id": "bd2dc935.cb3cf",
        "type": "change",
        "z": "5e11e736.5672e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HyperLedgerFabricIP",
                "pt": "global",
                "to": "<your Hyperledger Fabric IP address here>",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 285,
        "y": 145,
        "wires": [
            [
                "96e93daf.7f1ab"
            ]
        ]
    },
    {
        "id": "31bac253.7b711e",
        "type": "change",
        "z": "5e11e736.5672e",
        "name": "Build a TemperatureReading Transaction",
        "rules": [
            {
                "t": "set",
                "p": "FabricIP",
                "pt": "msg",
                "to": "HyperLedgerFabricIP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 495,
        "y": 380,
        "wires": [
            [
                "4ff530d9.61e648"
            ]
        ]
    },
    {
        "id": "4ff530d9.61e648",
        "type": "http request",
        "z": "5e11e736.5672e",
        "name": "Blockchain GET TemperatureReading",
        "method": "GET",
        "ret": "obj",
        "url": "http://{{FabricIP}}:31090/api/TemperatureReading",
        "tls": "",
        "x": 830,
        "y": 380,
        "wires": [
            [
                "cf0c14eb.275fb8",
                "fa8265f2.ef272"
            ]
        ]
    },
    {
        "id": "cf2d0627.886f58",
        "type": "change",
        "z": "5e11e736.5672e",
        "name": "Build a AccelReading Transaction",
        "rules": [
            {
                "t": "set",
                "p": "FabricIP",
                "pt": "msg",
                "to": "HyperLedgerFabricIP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 660,
        "wires": [
            [
                "4cd5a6a0.4efc7"
            ]
        ]
    },
    {
        "id": "4cd5a6a0.4efc7",
        "type": "http request",
        "z": "5e11e736.5672e",
        "name": "Blockchain GET AccelReading",
        "method": "GET",
        "ret": "obj",
        "url": "http://{{FabricIP}}:31090/api/AccelReading",
        "tls": "",
        "x": 810,
        "y": 660,
        "wires": [
            [
                "5413a978.fa375"
            ]
        ]
    }
]
